body{
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    background-image: url("road.jpeg");
    border-width:10px;
	border-style:ridge;
    text-align : center;

}

.ii{
    width: 80%;
    padding-top: 10px;
    font-size: 100px;
    text-align: center;
    font-family: cursive;
}

.footer{
    bottom: 0;
    position: fixed;
    background-color: green;
    font-family: cursive;
    width: 100%;
    height: 50px;
    color: white;
    padding-top: 13px;
    font-size: large;
}